# Default ignored files
/shelf/
/.idea/workspace.xml
/target/
demo-minesweeper.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alexa\Documents\Plugg\Agil Systemutveckling\demo-minesweeper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
